*.swp
Frida/speed.exe
**/__pycache__/
HoshinoBot/data/account.json
HoshinoBot/data/data.db
HoshinoBot/data/master.db
HoshinoBot/data/character_dic.json
HoshinoBot/data/gvg-master-*/
HoshinoBot/data/*.bak
HoshinoBot/images/
